* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .1rem;
    font-size: 1rem;
}

header {
    height: 25vh;
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

p {
    text-align: center;
    color: blueviolet;
    padding-top: 3%;
    text-transform: uppercase;
}

.boxes {
    display: block;
    color: blueviolet;
    font-size: 3rem;
    text-align: center;
}

.box {
    padding: 5%;
    margin: 5%;
    border: solid thick blueviolet;
    border-radius: 5px;
    box-shadow: 6px 6px 16px grey; 
}

.one{
    background-color: yellow;
}

.two{
    background-color: Aquamarine;
}

.three{
    background-color: chartreuse;
}

@media (min-width: 500px) {
    .boxes {
        display: flex;
        justify-content: space-around;
        padding: 3%
    }

    .box {
        padding: 6% 9%;
    }

    p {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) {
    .box {
        font-size: 4rem;
    }
}